
body{
    text-align:center;
    background:url("https://cdn.dribbble.com/users/121405/screenshots/4360448/final_fantasy1x.png");
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}

/* For mobile phones: */
#form {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  form {width: 70%;}
}


h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}


#form {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  background:white;
  box-sizing: border-box;
  max-width: 800px;
  margin: 20px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 40px;
  border-radius: 4px;
  h1 {
    box-sizing: border-box;
    padding: 20px;
  }
}

input,textarea {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  margin: 10px;
  margin-left:auto;
  margin-right:auto;
  min-width: 200px;
  width:70%;
  display: block;
  border: none;
  padding: 10px;
  border-bottom: dashed 1px rgb(22, 126, 231);

  color:rgba(0,0,0,0.2);
}

input:focus, textarea:focus{
    color:rgba(0,0,0,0.8);
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
textarea{
    min-width: 200px;
    width:70%;
    height:150px;
}

button {
  border: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background: rgb(0,101,202);
  cursor: pointer;
  border-radius: 4px;
  padding: 15px;
  width: 150px;
  color: white;
  margin-left: 0px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  
}

button:focus
{
  outline:none;
}
p
{
  min-width: 200px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    color:rgba(0,0,0,0.5);
    font-size:17px;
}

#result
{
  color:rgb(230, 190, 16);
  background:rgba(255, 243, 80, 0.568);
  width:70%;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
  border-radius:4px;
  padding:10px;
  transition:0.4s ease;
}